services:
  postgres:
    image: postgres:15
    container_name: analytics_postgres
    environment:
      POSTGRES_DB: analytics_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - D:/Serious Projects/enterprise-metrics-platform:/workspace
